html
  --prim white
  --text black

li
  list-style none

body
pre
code
  font-family Inconsolata, monospace
  background-color var(--prim)
  color var(--text)
  transition background-color 0.5s ease

pre
  margin-bottom 0

body
  min-height 100vh
  margin 0
  font-weight 100

main
  min-width 75vw

h1
  font-size min(7.5vmin, 2rem)
  text-align center
  margin 0

h2
  font-size min(3vmin, 1.5rem)
  font-family: Work Sans, monospace

p
  line-height 1.5

p a
  transition: all 0.25s ease

section
  max-width 800px
  margin 0 auto
  &.wide
    max-width: min(1200px, 100vw)

ul
  padding-left 0

a
  text-decoration none
  color inherit

@media (max-width 1200px)
  .-desktop
    display none !important

@media (min-width 1201px)
  .-mobile
    display none !important
