li
  list-style none

body
pre
code
  font-family Inconsolata, monospace

pre
  margin-bottom 0

body
  min-height 100vh
  margin 0
  font-weight 100

h1
  font-size min(7.5vmin, 2rem)
  text-align center
  margin 0
  color black

h2
  font-size min(3vmin, 1.5rem)
  font-family: Work Sans, monospace

p
  line-height 1.5

p a
  transition: all 0.5s ease

section
  max-width 800px
  margin 0 auto
  &.wide
    max-width: min(1200px, 100vw)

ul
  padding-left 0

a
  text-decoration none
  color inherit

html
  --cyan: #51e0ff
  --prim: #03fc0f

@media (max-width 1200px)
  .-desktop
    display none !important

@media (min-width 1201px)
  .-mobile
    display none !important
