li
  list-style none

body
  font-family Recursive b030, Roboto Mono, monospace
  min-height 100vh
  margin 0
  font-weight 100

h1
  font-size 4em
  text-align center
  margin 0

.btn-primary
  background black
  color white
  padding 1em
  text-decoration none
  font-weight bold
  transition: all .25s ease
  font-weight 500
  border: .1em solid white
  &:hover
    font-weight 1000
    box-shadow .5em .5em 0 black
  &:active
    box-shadow .2em .2em 0 black

a
  text-decoration none
  color inherit
